@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --primary: #1e293b;
    --primary-foreground: #f1f5f9;

    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1e293b;

    --destructive: #dc2626;
    --destructive-foreground: #f1f5f9;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0f172a;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #334155;
    --sidebar-primary: #18181b;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f3f4f6;
    --sidebar-accent-foreground: #334155;
    --sidebar-border: #e2e8f0;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f1f5f9;

    --card: #0f172a;
    --card-foreground: #f1f5f9;

    --popover: #0f172a;
    --popover-foreground: #f1f5f9;

    --primary: #f1f5f9;
    --primary-foreground: #1e293b;

    --secondary: #1e293b;
    --secondary-foreground: #f1f5f9;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f1f5f9;

    --destructive: #991b1b;
    --destructive-foreground: #f1f5f9;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cbd5e1;

    --sidebar-background: #18181b;
    --sidebar-foreground: #f3f4f6;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #1e293b;
    --sidebar-accent-foreground: #f3f4f6;
    --sidebar-border: #1e293b;
    --sidebar-ring: #3b82f6;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
